.rp-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 80%;
  margin: auto;
}

.rp-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.rp-input:focus {
  border-color: #007bff;
}

.rp-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.primary-button,
.secondary-button {
  flex: 1;
}
